<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">

    <title>ListView</title>
</head>
<body>

    {% if request.user.is_authenticated %}
    <p>{{request.user}} 님 어서오세요!</p>
    <a href="{% url 'base:logout' %}">로그아웃</a>
    {% else %}
    <a href="{% url 'base:login' %}">로그인하기</a>
    {% endif %}

    <hr>
    <h1>My To Do list</h1>
    <a href="{% url 'base:create' %}">아이템 추가하기</a>
    <table>
        <tr>
            <th>아이템</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{task.title}}</td>
            <td><a href="{% url 'base:task' task.id %}">내용보기</a></td>
            <td><a href="{% url 'base:update' task.id %}">내용수정</a></td>
            <td><a href="{% url 'base:delete' task.id %}">삭제</a></td>
        </tr>
        {% empty %}
        <h3>리스트에 아이템이 없습니다만??</h3>
        {% endfor %}
    </table>
</body>
</html>